.page {
    background: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
    min-width: 100vw;
    min-height: 100vh;
}
  
.content {
    padding: 24px;
    flex-direction: column;
    display: flex;
    align-items: stretch;
}
  
.span {
    height: 20px;
}